<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("elements/head"); -%>
  <title><%- localData.pageTitle %></title>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body class="dark-edition">
  <div class="container-fluid">
    <!-- Navbar -->
      <!-- include("elements/navbar"); -->
      <!-- End Navbar -->
      <%- body%>
    <!--Include Sidebar-->
    <!-- include("elements/sidebar"); -->
    <!--End Sidebar-->

    <!--div class="main-panel">
      
      <div class="content">
        <div class="container-fluid">
          
        </div>
      </div>
      
    </div-->
    <!-- Footer -->
      <%- include("elements/footer"); -%>
      <!-- End Footer -->
  </div>

  <!-- Script -->
  <%- include("elements/script"); -%>
  <!-- End Script-->

</body>

</html>
